<h1>Amanda's Page</h1>
<p>Originlly from The Bahamas, I've been living in Japan for the past 5 years. Currenrly attending school to study Ruby on Rails and will be looking to be a junior developer by the end of my course.</p>
<p>こんにちは！アマンダと申します。バハマから参りました。5年間日本に住んでいて、いま「RUBY・ON・RAILS」を勉強して年末ごろジュニャデベロッパーの仕事を探してみると思います。</p>